Flow3.json
[{"id":"e4a6b044.f8286","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"820e418a.fa3bf","type":"inject","z":"e4a6b044.f8286","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["18f26280.5f2c8e"]]},{"id":"18f26280.5f2c8e","type":"function","z":"e4a6b044.f8286","name":"Payload","func":"msg.headers={\n    deviceKey:\"jqYFnqHQ0z3NWzrI\"\n};\nmsg.payload= \"Temperature,,25\";\nmsg.payload= \"Humidity,,20\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["d803ef46.78d78"]]},{"id":"d803ef46.78d78","type":"http request","z":"e4a6b044.f8286","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DFCCFpC6/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":260,"wires":[["69536adb.be4fc4","74e3b997.321928"]]},{"id":"69536adb.be4fc4","type":"http response","z":"e4a6b044.f8286","name":"","statusCode":"","headers":{},"x":800,"y":260,"wires":[]},{"id":"74e3b997.321928","type":"debug","z":"e4a6b044.f8286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":380,"wires":[]}]