Flow 1.json
[{"id":"6fd2a718.d429e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8965788e.3ea2b8","type":"rpi-gpio out","z":"6fd2a718.d429e8","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":650,"y":500,"wires":[]},{"id":"8e25370.9dba9c8","type":"debug","z":"6fd2a718.d429e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":400,"wires":[]},{"id":"d460fa15.0e1d68","type":"rpi-gpio in","z":"6fd2a718.d429e8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":120,"y":400,"wires":[["8e25370.9dba9c8","8928b4e5.be8d08"]]},{"id":"8928b4e5.be8d08","type":"switch","z":"6fd2a718.d429e8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":480,"wires":[["ecfb9d3c.2ee85"],["c4fa25b8.af1c88"]]},{"id":"ecfb9d3c.2ee85","type":"change","z":"6fd2a718.d429e8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":460,"wires":[["8965788e.3ea2b8"]]},{"id":"c4fa25b8.af1c88","type":"change","z":"6fd2a718.d429e8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":620,"wires":[["8965788e.3ea2b8"]]}]