Flow2.json
[{"id":"38c9bead.6592e2","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"35fc0e9c.0675b2","type":"inject","z":"38c9bead.6592e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["f036dfd1.4a2a6"]]},{"id":"f036dfd1.4a2a6","type":"function","z":"38c9bead.6592e2","name":"Payload","func":"msg.headers={\n    deviceKey:\"jqYFnqHQ0z3NWzrI\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["60c2659c.fbf8ec"]]},{"id":"60c2659c.fbf8ec","type":"http request","z":"38c9bead.6592e2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DFCCFpC6/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":260,"wires":[["298ea807.778df8","56aa1d3e.328b44"]]},{"id":"298ea807.778df8","type":"http response","z":"38c9bead.6592e2","name":"","statusCode":"","headers":{},"x":660,"y":260,"wires":[]},{"id":"56aa1d3e.328b44","type":"debug","z":"38c9bead.6592e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":360,"wires":[]}]